<div id="container" >
  <ion-button ion-button (click)="share()" color="danger"> share </ion-button>
  <ion-button ion-button (click)="share_via_facebook()" color="danger"> facebook </ion-button>
  <ion-button ion-button (click)="share_via_whatsapp()" color="danger"> whatsapp </ion-button>
  <ion-button ion-button (click)="share_via_sms()" color="danger"> sms </ion-button>
  <ion-button ion-button (click)="share_via_email()" color="danger"> email </ion-button>
  <ion-button ion-button (click)="share_with_url()" color="danger"> share </ion-button>
  <ion-button ion-button (click)="native_camera()" color="danger">camera</ion-button>
</div>